<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SP.Portal" connectionString="Data Source=unipi-dbs-12;Initial Catalog=MainBase;User ID=web_api_user;Password=10_Nthtynmtd_0818;Persist Security Info=False;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=False;Application Name=SP.Portal" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IsFake" value="True"/>
  </appSettings>
</configuration>